/* Font Declaration */

.fira-sans {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Navigation bar  */

.top-banner{
    /* margin-bottom: 20px; */
    background-color: #F5F5F5;

}
.navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    weight: 1600px;
    height: 100px;
    /* padding: 0px 10px; */
    margin: 31px 160px;
    /* border: 3px solid red; */
    
}
.nav-name{
    font-size: 32px;
    font-weight: 700;
}
.nav-name:hover{
    text-shadow: 4px 4px 5px skyblue;
    color: green;
}
.nav-button{
    height: 52px;
    width: 116px;
    border: 1px solid #006A50;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    background-color: #ffffff;
    border-radius: 8px;

    /* padding: 15px 30px; */
}
.nav-button:hover{
    color: white;
    background-color: black;
    cursor: pointer;
    box-shadow: 4px 4px 10px skyblue;
}


/* Shared Colure*/

.green{
    color: #006A50;
}
.black{
    color: #0E0E0E;
}
.semi-black{
    color: rgba(14, 14, 14, 0.5);
}
.white{
    color: #F5F5F5;
}
.btn-1{
  background-color: #5490F5;  
}
.btn-2{
    background-color: #09A15C;
}
.btn-3{
    background-color: #FFC239;
}


/* Hero Section */

.hero{
     height: 560px;
    width: 1350px;
    /* border: 1px solid green ; */
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #C6E4D6;
    margin: 20px 160px 80px 160px;
    /* margin: 31px 160px; */
}
.hero-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px ;
    gap: 64px;
}
.hero-description{
    
}
.hero-title{
    font-size: 24px;
    font-weight: 500;

}
.hero-subtitle{
    font-size: 56px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 24px;
}
.btn-hero{
    background-color: #006A50;
    padding: 17px 34px;
    color: #ffffff;
    border-radius: 8px;
     font-size: 18px;
    font-weight: 600;
    border: none;
}
.btn-hero:hover{
    color: rgba(191, 205, 203, 1);
    background-color: black;
    cursor: pointer;
}


/* Piller Section */

.pillar{
    height: 350px;
    width: 1350px;
    /* border: 1px solid green ; */
    /* border: 1px solid red; */
     margin: 20px 160px 80px 160px;
}
.pillar-description{
    font-size: 40px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 32px;
}
.pillar-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    /* background-color: rgba(14, 14, 14, 0.15); */
    border-radius: 16px;
}
.pillar-card img{
    width: 64px;
    height: 64px;
}
.pillar-subcard{
    box-shadow: 0px 6px 50px 0px rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px;
}
.pillar-title{
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0E;
}
.pillar-subtitle{
    width: 80%;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}

/* Vission and mission section */

.vission{
    height: 770px;
    width: 1350px;
    /* border: 1px solid green ; */
    /* border: 1px solid red; */
     margin: 20px 160px 80px 160px;
     /* gap: 32px; */
}
.vission-content{
    margin-bottom: 80px;
}
.vission-description{
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.vission-paragaraph{
    margin-bottom: 32px;
     font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
;
}
.vission-card{
     display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    /* background-color: rgba(14, 14, 14, 0.15); */
    border-radius: 16px;
    margin-bottom: 32px;
}
.vission-card img{
    width: 64px;
    height: 64px;
}
.cards-1234{
     box-shadow: 0px 6px 50px 0px rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 32px;
}
.d{background-color: rgba(84, 144, 245, 0.2);}
.g{background-color: #C6E4D6;}
.m{background-color: #F7EBCF;}
.vission-title{
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}
.vission-subtitle{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 24px;
}
.btn-vission{
    width: 130px;
    height: 41px;
    padding: 11px 20px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.btn-vission:hover{
    background-color: black;
    color: white;
    box-shadow: 4px 4px 4px skyblue;
    cursor: pointer;
}
.vission-last{
    padding: 32px 24px;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    box-shadow: 0px 6px 50px 0px rgba(14, 14, 14, 0.15);
    border-radius: 16px;  
}
.last-des{
    margin-top: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);

}
.last-name{
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);

}
.lastname-des{
        margin-top: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.6);
}

/* Questation and Answer */

.questation{
      height: 490px;
    width: 1350px;
    /* border: 1px solid green ; */
    /* border: 1px solid red; */
     margin: 20px 160px 80px 160px;
     /* gap: 32px; */
}
.questation-title{
    height: 48px;
    font-size: 40px;
    font-weight: 700px; 
    color: #0E0E0E;
    margin-top: 0px;
    margin-bottom: 24px;
}
.questation-1234{
    padding: 32px;
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 6px 50px 0px rgba(14, 14, 14, 0.15);
}
.questation-1{
    background-color: #C6E4D6;
    border: 0.1px solid rgba(14, 14, 14, 0.5);;
    padding: 7px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.highlight{
    font-size: 16px;
    font-weight: 600;
    color: #0E0E0E;
}
.questation-1 h3{
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0E;
}
/* .btn-questation{
    padding: 24px;
    background-color: #FFFFFF;
    border: none;
} */
.btn-qus2{
    padding: 10px 14px;
    background-color: #c6e4d6;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid black;
}
.sel{
    font-size: 16px;
    font-weight: 550;
}
.btn-qus2:hover{
     background-color: #8A2BE2;
     color: white;
}
.questation-2{
     border: 0.1px solid rgba(14, 14, 14, 0.5);;
    padding: 7px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.questation-3{
     border: 0.1px solid rgba(14, 14, 14, 0.5);;
    padding: 7px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.questation-4{
     border: 0.1px solid rgba(14, 14, 14, 0.5);;
    padding: 7px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Recent News */

.news{
      height: 1430px;
    width: 1350px;
    /* border: 1px solid green ; */
    /* border: 1px solid red; */
     margin: 20px 160px 80px 160px;
     /* gap: 32px; */
}
.news-head{
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    margin-top: 0px;
    margin-bottom: 0px;
}
.news-head-des{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14,14,14,0.7);
    margin-bottom: 0px;
}
.news-overall{}
.news-1{
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 32px;
    padding: 48px;
    border-radius: 24px;
    box-shadow: 0px 6px 50px 0px rgba(14, 14, 14, 0.15);
}
.news-1>img{
    border-radius: 24px;
    width: 408px;
    height: 306px;
}
.news-1.1{}
.news-title{
    font-size: 32px;
    font-weight: 700;
    color: rgba(14,14,14,0.8);
    margin-top: 5px;
    margin-bottom: 12px;
}
.news-1.1>img{
    width: 134px;
    height: 40px;
    margin-bottom: 12px;
}
.news-time{
    display: flex;
    /* align-items:center; */
    gap: 12px;
    /* height: 24px; */
    /* margin-bottom: 12px; */
    /* margin-top: 12px; */
}
.news-des{
    margin-top: 0px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(14,14,14,0.7);
    line-height: 24px;
    margin-bottom: 32px;
}
.btn-news{
    background-color: #006A50;
    border-radius: 8px;
    padding: 13px 26px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}
.btn-news:hover{
     background-color: #8A2BE2;
     color: white;
     transition: all 0.9s ease;
     cursor: pointer;
}

/* Dobate section */

.donate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
 /* height: 470px;
    width: 1350px; */
    /* border: 1px solid green ; */
    /* border: 1px solid red; */
     margin: 80px 160px 80px 160px;
     /* gap: 32px; */

}
.donate-title{
    margin-top: 0px;
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.donate-description{
    text-align: center;
     /* margin-top: 0px; */
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(14,14,14,0.7);
    margin-bottom: 32px;
}
.donate-cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    width: 100%;
    height: 100%;
    margin-bottom: 32px;
}
.cards{
    /* width: 240px;
    height: 80px; */
    cursor: pointer;
    padding: 60px;
    border-radius: 16px;
    /* border: 1px solid red; */
     box-shadow: 0px 6px 50px 0px rgba(14, 14, 14, 0.15);

}
.card-back1{
    background-color: #ffffff; 
}
.card-back2{
    background-color: #C6E4D6; 
}
.card-1{
    width: 160px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    color: rgba(14,14,14,0.8);
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.card-1:hover{
    background-color: black;
    color: white;
}
.donate-input{
    margin-bottom: 32px;
    width: 1032px;
    height: 64px;
    padding: 20px 30px;
    color: rgba(14,14,14,0.30);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border: none;
     box-shadow: 0px 6px 50px 0px rgba(14, 14, 14, 0.15);
     border-radius: 10px;
}
.btn-donate{
    width: 160px;
    height: 56px;
    padding: 17px 34px;
    background-color: #006A50;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    border: none;
}
.btn-donate:hover{
    background-color: #8A2BE2;
    color: white;
    transition: all 0.8s ease;
}


/* Subscription page */

.subscription{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
 /* height: 470px;
    width: 1350px; */
    border-radius: 24px;
    /* border: 1px solid red; */
     margin: 80px 160px 80px 160px;
     gap: 32px;
     background-color: #C6E4D6;
     text-align: center;

}
.subscribe-content{}
.extra{
    width: 100%;
    
 
}
.sub-field{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 750px;
    height: 56px; */
    margin-bottom: 24px;

}
.sub-field input{
    padding: 17px 34px;
    width: 600px;
    height: 30px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14,14,14,0.3);
    background-color: #ffffff;
    border: none;
    border-radius: 8px 0px 0px 8px;

}
.sub-field button{
    padding: 18px 40px;
    width: 150px;
    height: 64px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background-color: #006A50;
    border: none;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
}
.sub-field button:hover{
     background-color: #8A2BE2;
    color: white;
    transition: all 0.8s ease;
}
.btn-sub{
    /* margin-top: 32px; */
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(14,14,14,0.7);
}

/* Footer Section */

.foot{
    /* background-color: #ffffff;
    box-shadow: 6px 6px 50px 0px rgba(14, 14, 14, 0.15);
     weight: 1600px;
    height: 226px;
   
    padding: 50px 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
 /* height: 226px; */
    /* width: 1350px; */
  
    background-color: #ffffff;
    box-shadow: 0px 0px 50px 2px rgba(14, 14, 14, 0.15);
     text-align: center;
}
.foot-title{
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 64px;

}
.foot-img{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
}